.primary-link {
  padding: 8px;
  background-color: white;
  color: green;
  text-decoration: none;
  border: solid 4px yellowgreen;

  .icon {
    display: inline-block;
    margin-right: 4px;
    background-color: yellowgreen;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  &:hover {
    font-weight: bold;
  }
}

.primary-link::before {
  content: attr(title);
  font-weight: bold;

  /** To debug */
  color: red;

  /** To hide pseudo element */
  height: 0;
  visibility: hidden;
  display: block;
}
