.primary-link {
  --gap: 4px;
  --icon-size: 16px;
  --font-weight: 700;

  padding: 8px 16px;
  background-color: white;
  color: green;
  text-decoration: none;
  border: solid 4px yellowgreen;
  border-radius: 100px;

  .icon {
    display: inline-block; /** to be both inline with the text and have width + height */
    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: var(--gap);
    background-color: yellowgreen;
  }

  &:hover {
    background-color: lightgoldenrodyellow;
  }

  &.active {
    background-color: green;
    border-color: white;
    color: white;
    font-weight: var(--font-weight);

    .icon {
      background-color: white;
    }
  }

  &::before {
    content: attr(title);

    /** To offset elements */
    font-weight: var(--font-weight); /** active font */
    margin-right: calc(var(--icon-size) + var(--gap)); /** icon */

    /** To debug */
    color: red;

    /** To hide pseudo element */
    height: 0;
    visibility: hidden;
    display: block;
  }
}
